:root {
  --primaryColor: #23b73b;
  --secondaryColor: #ffcc01;
  --thirdColor: #f42b26;
  --fourthColor: #663399;
}

/* Body */

body {
  background-color: #000000;
  margin: 0%;
  padding: 0;
  font-family: "Lora", serif;
  min-height: 250vh;
  box-sizing: border-box;
  min-height: 400vh;
  color: #ffffff;
}

hr {
  color: #23b73c;
}

/* ------------------------------------- */
/* Li elements in navbar */

#nav-links {
  position: relative;
  left: -1.3%;
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: black;
}

a:hover {
  color: #ffffff;
  transition: 400ms;
}

ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin-left: 35px;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #23b73c;
  height: 50px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid goldenrod;
}

.sticky--main {
  position: fixed;
  background-color: #23b73c;
  width: 100%;
}

/* Navbar logo */

.logo-image {
  width: 70px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: -9px;
}

/* Heading and its components */

#header--one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid rgba(252, 235, 3, 0.63); */
}

.header--divs {
  min-height: 100vh;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* h1 heading jaguar */

#heading {
  text-align: center;
  font-size: 7rem;
  letter-spacing: 1rem;
  font-family: "Monoton", cursive;
  color: black;
}

#--ja {
  color: #23b73b;
  transition: letter-spacing 2s;
}

#--ja:hover {
  letter-spacing: 2rem;
  transition-timing-function: linear;
}

#--gu {
  color: #ffcc01;
  transition: letter-spacing 2s;
}

#--gu:hover {
  letter-spacing: 2rem;
  transition-timing-function: linear;
}

#--ar {
  color: #f42b26;
  transition: letter-spacing 2s;
}

#--ar:hover {
  letter-spacing: 2rem;
  transition-timing-function: linear;
}

/* jaguar image div */

.jaguar--image-div {
  width: 50%;
}

#img--jaguar {
  width: 90%;
}

/* Parth with quoute, h2 */

.first--section {
  margin-top: 100px;
  margin-bottom: 50px;
}

#--techno {
  color: #23b73b;
}

#--berlin {
  color: #f42b26;
}

#--1992 {
  color: #ffcc01;
}

/* Image div */

.image--div {
  width: 100%;
  height: 65vh;
  margin-top: 100px;
  margin-bottom: 100px;
  background: rgb(35, 183, 59);
  background: linear-gradient(
    302deg,
    rgba(35, 183, 59, 1) 0%,
    rgba(45, 144, 60, 1) 51%,
    rgba(35, 183, 59, 1) 91%
  );
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#image--one {
  width: 65%;
  border-radius: 5px;
  position: relative;
  left: -25px;
  top: -10px;
  height: 70vh;
  border: 1px solid white;
}
.text--one {
}
/*---------------------------------*/
/* Round image section  */

.round--image {
  height: 330px;
  border: 1px solid #23b73c;
  width: 25%;
  position: relative;
  left: 38%;
  margin-top: 50px;
  margin-bottom: 0px;
  border-radius: 50%;
  background-image: url(/jag2.jpg);
  background-position: bottom;
  background-size: cover;
}
.h2--second--heading {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}

/* ----------------------------- */

.info--section {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.info--zone {
  border-radius: 5px;
  border-left: 1px solid #23b73b;
  border-right: 1px solid #23b73c;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 30%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  color: white;
  -webkit-box-shadow: 0px 2px 0px 2px #23b73c;
  box-shadow: 0px 2px 0px 2px #23b73c;
  transition: 500ms;
}

.info--zone:hover {
  cursor: pointer;
}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
}
.hours {
  color: #23b73b;
}
.days {
  color: #663399;
}
.options {
  font-size: 20px;
}
#mapid {
  border-right: 4px solid #23b73b;
  border-left: 4px solid #23b73b;
  height: 300px;
  width: 30%;
  border-radius: 10px;
}

/* Main section*/
.main--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 150px;
}
.main--divs {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: rgb(35, 183, 59);
  background: linear-gradient(
    302deg,
    rgba(35, 183, 59, 1) 0%,
    rgba(45, 144, 60, 1) 51%,
    rgba(35, 183, 59, 1) 91%
  );
  border-radius: 10px;
  border: 1px solid white;
  padding: 15px;
}

.second--p {
  text-align: left;
}

#second--img {
  width: 90%;
  position: relative;
  top: -10px;
  left: 25px;
  border: 1px solid white;
  border-radius: 10px;
  height: 70vh;
}

.right--one {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.h3--main-section {
  color: #ffffff;
}
.imageSlider {
  margin-top: 100px;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slider-div {
  width: 33%;
  border: 1px solid rgb(255, 255, 255);
  height: 50vh;
}

@media (max-width: 3000px) {
  #heading {
    font-size: 7.5rem;
    position: relative;
    top: -25px;
    margin-left: 35px;
  }
}
@media (max-width: 1200px) {
  #heading {
    font-size: 5rem;
    position: relative;
    top: -25px;
    margin-left: 35px;
  }
}
@media (max-width: 940px) {
  #heading {
    font-size: 6rem;
    position: relative;
    top: 50px;
    margin-left: 0px;
  }
  #header--one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header--divs {
    min-height: 50vh;
    margin: 0;
    width: 100%;
  }
  #img--jaguar {
    width: 60%;
  }
}
@media (max-width: 770px) {
  .image--div {
    flex-direction: column;
  }
  .main--divs {
    flex-direction: column;
  }
}
@media (max-width: 530px) {
  #heading {
    font-size: 5rem;
    letter-spacing: 0.5;
  }
  .h2--second--heading {
    font-size: 2rem;
  }
}
@media (max-width: 470px) {
  #heading {
    font-size: 4rem;
    letter-spacing: 0.3;
  }
}
@media (max-width: 430px) {
  #heading {
    font-size: 3.5rem;
    letter-spacing: 0;
  }
  li {
    margin-left: 0px;
  }
  .nav-link {
    padding: 8px;
  }
}
@media (max-width: 330px) {
  li {
    margin-left: 0px;
  }
  .nav-link {
    padding: 4px;
  }
  .logo-image {
    display: none;
  }
}
