:root {
  --primaryColor: #23b73b;
  --secondaryColor: #ffcc01;
  --thirdColor: #f42b26;
  --fourthColor: #663399;
}

/* Body */

body {
  background-color: #000000;
  margin: 0%;
  padding: 0;
  font-family: "Lora", serif;
  min-height: 250vh;
  box-sizing: border-box;
}

hr {
  color: #663399;
}

/* ------------------------------------- */
/* Li elements in navbar */

#nav-links {
  position: relative;
  left: -1.3%;
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: black;
}

a:hover {
  color: #ffffff;
  letter-spacing: 1px;
  transition: all 0.3s;
}

ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin-left: 35px;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #23b73b;
  height: 50px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(252, 235, 3);
}

.sticky--main {
  position: fixed;
  background-color: #23b73c;
  width: 100%;
}

/* Navbar logo */

.logo-image {
  width: 70px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: -9px;
}

/* Heading and its components */

#header--one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid rgba(252, 235, 3, 0.63); */
}

.header--divs {
  min-height: 100vh;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* h1 heading jaguar */

#heading {
  text-align: center;
  font-size: 7rem;
  letter-spacing: 1rem;
  font-family: "Monoton", cursive;
  color: black;
}

#--ja {
  color: #23b73b;
  transition: letter-spacing 2s;
}

#--ja:hover {
  letter-spacing: 2rem;
  transition-timing-function: linear;
}

#--gu {
  color: #ffcc01;
  transition: letter-spacing 2s;
}

#--gu:hover {
  letter-spacing: 2rem;
  transition-timing-function: linear;
}

#--ar {
  color: #f42b26;
  transition: letter-spacing 2s;
}

#--ar:hover {
  letter-spacing: 2rem;
  transition-timing-function: linear;
}

/* jaguar image div */

.jaguar--image-div {
  width: 50%;
}

#img--jaguar {
  width: 90%;
}

/* Parth with quoute, h2 */

.first--section {
  margin-top: 100px;
  margin-bottom: 50px;
}
.h2--second--heading {
  font-size: 3rem;
  text-align: center;
  color: #663399;
}

#--techno {
  color: #23b73b;
}

#--berlin {
  color: #f42b26;
}

#--1992 {
  color: #ffcc01;
}

/* Image div */

.image--div {
  width: 100%;
  height: 50vh;
  background-image: url(/berlin\ big.jpg);
  background-size: cover;
  margin-bottom: 100px;
}

/* Main section*/

.main--container {
  margin-top: 50px;
}

.main--section--div {
  height: 330px;
  margin-top: 50px;
}

.left--one {
  border-radius: 5px;
  background-image: url(/firstimg.jpg);
  background-size: cover;
}

.right--one {
  color: rgb(197, 72, 197);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h3--main-section {
  color: #663399;
  font-size: 2rem;
}

.span--circle {
  border: 1px solid #663399a9;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-image: url(/rsz_image-span-one.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

/* Second row */

.left--second--one {
  background-image: url(/0573a91aec59b32532c5fc6ebea57e46.jpg);
}

/* Third row */

.left--third--one {
  background-image: url(/berghain_1.jpg);
}

/* ---------------------------------- */
/* media queries */

@media (max-width: 3000px) {
  #heading {
    font-size: 7.5rem;
    position: relative;
    top: -25px;
    margin-left: 35px;
  }
}

@media (max-width: 1200px) {
  #heading {
    font-size: 5rem;
    position: relative;
    top: -25px;
    margin-left: 35px;
  }
}
@media (max-width: 940px) {
  #heading {
    font-size: 6rem;
    position: relative;
    top: 50px;
    margin-left: 0px;
  }

  #header--one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header--divs {
    min-height: 50vh;
    margin: 0;
    width: 100%;
  }
  #img--jaguar {
    width: 60%;
  }
}

@media (max-width: 530px) {
  #heading {
    font-size: 5rem;
    letter-spacing: 0.5;
  }
  .h2--second--heading {
    font-size: 2rem;
  }
}

@media (max-width: 470px) {
  #heading {
    font-size: 4rem;
    letter-spacing: 0.3;
  }
}
@media (max-width: 430px) {
  #heading {
    font-size: 3.5rem;
    letter-spacing: 0;
  }
  li {
    margin-left: 0px;
  }
  .nav-link {
    padding: 8px;
  }
}
@media (max-width: 330px) {
  li {
    margin-left: 0px;
  }
  .nav-link {
    padding: 4px;
  }
  .logo-image {
    display: none;
  }
}
